params {
  metadata  = null    
  refDir    = null
  outDir    = null
  facetsuite = null
  genome    = "GRCh38"


  // containers
  genomicsGeneralContainer = null


  // reference genome parameters
  ref_fasta = null 
  bwamem2_index = null
  bwamem_index = null
  vep_cache = null

  // 
  dnaseq_type = "WES" // WGS, WES, panel (capture) or amplicon
  target_bed = null // needed only for WES and panels

  // has_umi = false 
  // umi_info = null  // specify how to read UMI

  // these are parameters for FACETS only
  facets_cval_preproc = 25
  facets_window = 250
  facets_cval = 200
}

profiles { 
    local { 
        process.executor = 'local' 
    }
    // HPC env
    wehi {
        includeConfig 'conf/wehi.config'
    }

    // genome
    hg38 {
        includeConfig 'conf/genomes/hg38.config'
    }

    // genome
    mm10 {
        includeConfig 'conf/genomes/mm10.config'
    }

}







process {
  withLabel: samtools_multi {
    cpus = 8
    memory = 16.GB
    time = 48.hour
  }

  withLabel: samtools_single {
    cpus = 1
    memory = 4.GB
    time = 12.hour
  }














  withName: bwa_mem {
    cpus = 20
    memory = 16.GB
    time = 48.hour
  }

  withName: markduplicate {     
    cpus = 2
    memory = 36.GB
    time = 48.hour
  }

  withName: QC_metrics {     
    cpus = 2
    memory = 8.GB
    time = 48.hour
  }

  withName: mutect2 {     
    cpus = 8
    memory = 64.GB
    time = 48.hour
  }

  withName: haplotypecaller {
    cpus = 8
    memory = 64.GB
    time = 48.hour
  }

  withName: snp_pileup {
    cpus = 1
    memory = 2.GB
    time = 48.hour
  }

  withName: facets {
    cpus = 1
    memory = 8.GB
    time = 48.hour
  }

}